<p class = "fields">
  <%= f.label :text, "Answer" %>
  <%= f.text_field :text, :class => "quiz_answer_text"  %>
  <span id="remove-answer">
    <%= link_to_remove_fields "remove", f %>
  </span>
  </p>


