<div id = "choices-check">
  <% 5.times do |i| %>
    <%= label_tag "choice-#{i}", "Choice #{i+1}" %>
    <%= text_field_tag "choice-#{i}" %>
    <%= check_box_tag "use_choice", i.to_s %><br />
  <% end %>
</div>
