<div id="holder" data-mode="student" data-json="<%= answer_input %>"></div>
<div id="sidebar">
<form id="fbd-select"> 
<a href="#" id="add-force-begin">Add a force</a>

<ul id="forces">
</ul>

Angle: 
<span id="status"></span>
<div id="pos"></div>
</div>

<%= f.hidden_field :answer %>

