<div id = "choices">
  <% 5.times do |i| %>
    <%= label_tag "choice-#{i}", "Choice #{i+1}" %>
    <%= text_field_tag "choice-#{i}" %>
    <% if (i==0) %>
      <%= radio_button_tag "use_choice", i.to_s, true %><br />
    <% else %>
      <%= radio_button_tag "use_choice", i.to_s %><br />
    <% end %>
  <% end %>
</div>
