<% breadcrumb :quizzes, @course %>

<%= link_to "Add exercise", new_course_quiz_path(@course), :class => 'add-course-item' %><br /><br />

<ul>
<% @quizzes.each do |quiz| %>
  <li><%= quiz.question %> | <%= link_to "Edit", edit_course_quiz_path(@course, quiz) %></li>
<% end %>
</ul>
