<div id="help">
  <p class="header">Need help?</p>

  <% if !@response.quiz.components.empty? %>
    This quiz uses the following concepts:
    <ul id="help-items-components">
      <%= render @response.quiz.components %>
    </ul>
  <% end %>
</div>

