<div id="help">
  <p class="header">Need help?</p>

  <div style="display: none;">
    <div  id="color-box-container"><div id="embed-video-area"></div></div>
  </div>

  <% if !@response.quiz.components.empty? %>
    <p>This quiz uses the following components:</p>
    <ul id="help-items-components">
      <%= render @response.quiz.components %>
    </ul>
  <% end %>
</div>

