<% breadcrumb :edit_component, @component %>
<%= render 'form' %>

<% if ! @videos.empty? %>
<h3>Current videos:</h3>
<%= render :partial => 'videos/video', :collection => @videos, :locals => { :edit => true } %>
<% end %> 

<h3>Add a video!</h3>
<%= render 'shared/video_add_form' %>
