<% breadcrumb :components, @course %>

<%= link_to "Add component", new_course_component_path(@course), :class => 'add-course-item' %><br /><br />
<% if @components.empty? %>
  Course has no components.
<% else %>
  <table>
    <tr>
      <th>Component</th>
      <th>Quizzes</th>
    </tr>

    <% @components.each do |component| %>
      <tr>
        <td>
          <%= link_to component, course_component_path(component.course, component) %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
    <%= will_paginate @components %>
  </table>

<% end %>

