<h1>
  <%= @component.name%>
</h1>

<p>
  <%= @component.description %>
</p>

<% if current_user and current_user.teacher?(@component.course) %>
<p> <%= link_to "Edit", edit_component_path %></p>
<% end %>
