<div id="problem" class="round"><%= problem.statement %></div><br />
<h3>Steps</h3>
<ol>
  <%= render steps %>
  <li><p class="round">...</p></li>
</ol>

<div id="study_item">What is the next step?</div>

<div id="answer_area"><a href="#" class="round">Show</a></div>
