$body-color: #fff;
$yt-width: 480px;
$yt-height: 295px;

body {
  background: $body-color; 
}

.container {
  width: 100%;
}

header {

  img { padding: 1em; background: #fff; }

  a#logo {
    $logo-color: #000;
    margin-left: 30px;
    color: $logo-color;
    font-size: 1.5em;
    font-weight: bold;
    display: inline;
    clear: left;  

    &:visited { color: $logo-color; }
  }    
}

/* Common stuff */ 

.hidden { display: none; }

@mixin rounded($radius: 10px) {
  -moz-border-radius:    $radius;
  -webkit-border-radius: $radius;
  border-radius:         $radius;
}

.round { @include rounded(5px); }

tbody tr:nth-child(even) td, tbody tr.even td {background:#fff;}


section {
  font-size: 120%;
  background: $body-color;
  margin: auto;
  padding: 15px 60px 10px 60px;
}

h1 {
  font-size: 2em;
}

/* Links */

$link-color: #09c;
$link-hover-color: #069;

a {
  color: $link-color;
  text-decoration: none;

  &:hover { color: $link-hover-color; text-decoration: underline; }
  &:visited { color: $link-color; }
}


/* Navigation */

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  float: right;

  ul { margin: 0; padding: 0; }

  li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;  

    a {
      padding: 0 5px;
      font-weight: bold;
      color: $link-color;

      &:visited { color: $link-color; }
      &:hover { text-decoration: underline; }
    }
  }
}

/* Teacher course page navigation */

#course-head {
  border-top: 1px solid #eee;
  padding: 0px;
}


#breadcrumb {
  background: darken(#ccc, 25%);
  margin-bottom: 15px;
  padding-left: 10px;
  color: darken(#fff, 0%);
  a {
    color: darken(#fff, 15%);
  }
  a:visited {
    color: darken(#fff, 15%);
  }
  a:hover {
    color: #fff;
  }
}

ul#local-nav {
  display: block;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid darken(#ccc, 35%);

  li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    padding: 0px;  
    margin: 0px;


    a {
      display: block;
      -moz-border-radius: 5px 5px 0px 0px;
      border-radius: 5px 5px 0px 0px;
      background: darken(#ccc, 15%);
      width: 100px;
      padding: 0.5em 0.0em;
      margin: 0px;
      margin-top: 10px;
      margin-bottom: -1px;
      font-weight: bold;
      border: 1px solid darken(#ccc, 35%);

      $nav-link-color: #fff;
      
      color: $nav-link-color;

      &:visited { color: $nav-link-color; }
      &:hover { text-decoration: none; 
        color: lighten(#f6b648, 33%); 
      background: darken(#ccc, 25%);
      border-bottom: 1px solid darken(#ccc, 25%); }
    }

    a.selected {
      color: lighten(#f6b648, 33%); 
      background: darken(#ccc, 25%);
      border-bottom: 1px solid darken(#ccc, 25%); 
    }
  }

  li.course-name {
      
    a { 
      font-size: 1.5em;
      line-height: 14px;
      color: #09c;
      background: #fff;
      border: 0px none;
    }
    margin-left: 30px;
    margin-right: 30px;
  }
}

.add-course-item
{
  font-size: 1.2em;
  color: #09c;
  padding: 5px 15px 5px 15px;
  background: #eee;
  border: 0px none;
  margin: auto;

  &:hover { text-decoration: underline; cursor: pointer; }
  @include rounded(5px);
}


/* Student course page */
#stats-sidebar{ float: right; display: block; }

#course-content {
 float:left; width: 560px;

  $section-bg: #ccc;
  .course-section {
    @include rounded(10px);
    border: 1px solid darken($section-bg, 50%);
    background: $section-bg;
    padding: 10px;
    margin-bottom: 15px;

    h2 {
      font-size: 1.4em;
      color: white;
      border-bottom: 1px dotted #eee;
    }

    tr {
      background: #eee;
    }

    tr:nth-child(even) {
      background: lighten($section-bg, 10%);
    }

    .lesson-number {
      font-size: 1.5em;
      font-style: italic;
      color: #666;
      margin-left: 5px;
    }
  }
}

/* Memory list */

#memories {
  td.needs-review {
    background: #fcc;
  }
}



/* Study button */

a.study_button {
  color: #fff;
  font-weight: bold;
  padding: 15px 30px 15px 30px;
  background: #0000ff;
  margin: 15px;

  &:hover { background: #66f; }
}


/* Study mode */

#panel {
  margin-top: 80px;
  width: 300px;
  float: right;
  background: #eee;
  padding: 20px;

  .number { font-size: 4em; }

  .section {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
  }

  .bottom {
    border-bottom: 0px none;
  }
}

#study-area {
  padding: 15px; margin-right: 340px;

  .header { font-weight: bold; margin-bottom: 15px; }

  .flash { 
    width: 150px;
    font-size: 1.2em;
    text-align: center;
  } 
  #problem { padding-bottom: 15px;}
}

#rate-button-panel {
  margin-top: 10px;
  margin-bottom: 15px;

  #rate-buttons { margin-top: 25px; text-align: center; }
}

.quizbutton { 
  font-size: 1.2em;
  color: #09c;
  padding: 5px 15px 5px 15px;
  background: #eee;
  border: 0px none;
  margin: auto;

  &:hover { text-decoration: underline; cursor: pointer; }
}

.last-response {
  font-size: .8em;
}

#check-answer {
  margin-top: 15px;

  .actions { text-align: center; }
}

/* Component show page */

.video-name {
  font-size: 1.5em; padding: 10px 0px;
  a { font-size: 0.75em; }
}

/* Home page */


#course-overview { 
  .course-listing {
    overflow: auto;
    border-top: 1px solid #ddd;

    .name-and-status {
      float:left;
    padding-top: 15px;
      width: 250px;
    }

    .course-name {
      font-size: 2em;
    }

    .study-info {
      font-size: .8em;
    }

    ul.course-actions {
      margin: 0px;
      padding: 0px;
      padding-left: 10px;
      float: left;
      clear: right;
      
      & > li { 
        vertical-align: top;
        margin: 0px;
        margin-right: 10px;
        padding: 10px;
        list-style-type: none;

        &.items-for-review { 
        }

        &.other-actions {
          text-align: left;
          background: #fff;
        }
      }

      a { 
        font-size: 1.5em;
      }
    }
  }
}



/* Course Show page */

/* Teacher pages */
table.course-data {
  border: 1px solid #ddd;
  border-right: 2px solid #ddd;
  tbody {
    tr.course-data-head {
      background: #ddd;
      th {
        text-align: center;
      }
    }

    tr:nth-child(even) {
      td {
        background: #eee;
      }
    }

    tr.course-data-row {
      td {
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
      li {
        list-style: square;
        color: #999;
      }
    }
  }
}

/* Teacher stats */

#student-status { 
  overflow: auto;
  margin-left: 116px;
  td {
    padding: 5px;
    border-left: 1px solid #fff; 
    font-size: .8em;
    
    height: 40px;
    max-height: 40px; 
    min-width: 110px; 
    max-width: 110px; 
    margin-left: -110px; 
    &.label { background: #ccc; }
    &.due { background: red; }
    &.good { background: green; }                     
    &.unviewed { background: white; }  
    &.student-column { position:fixed; margin-left: -116px; padding-right:4px;background: #ccc; }
    &.unused { background: #fff; border: 0px none; }
  }
}

.popup {
  z-index: 99;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  position: absolute;
  margin-left: 15px;
}





/* Welcome page */

#tagline {
  font-size: 2.5em; 
  text-align: center;
  $image-dim: 150px;


  ul { font-size: .4em; list-style-type: none;  }
  ul li { display: inline-block; vertical-align: top; }

  div {  max-width: $image-dim + 50px; }

  .feature-head { font-weight: bold; font-size: 1.3em; }

  
  img { 
    display: inline;
    min-width: $image-dim; 
    height: $image-dim; 
    border: 1px solid black; 
    @include rounded(15px);
  }
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #ccc;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  clear: both;
}

/* Buttons/Forms */

#enroll_form {
  display: inline;

  form { display: inline; }
  .actions { display: inline; }
}

/* Help/videos */

#video-dialog{ background:grey;}

/* Force diagram */

#fbd { 
  &.teacher {
    width: 540px;
  }

  #holder {
    display: inline-block;
    width: 360px;
    height: 280px;
  }
  #sidebar {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 140px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #000;
  }
  .selected-answer {
    background: #cfc;
  }
}
/* Lessons page */
.events-area {
    background-color: #EEEEEE;
    border: 1px solid #ddd;
    padding: 10px;
    @include rounded(5px);

  .event {
     background-color: lighten(#EEEEEE, 15%);
     padding: 10px;
     margin-bottom: 10px;
     
     
    border-right: 1px solid lighten(black, 60%);
    border-bottom: 1px solid lighten(black, 60%);
    border-left: 1px solid lighten(black, 80%);
    border-top: 1px solid lighten(black, 80%);
    
    @include rounded(5px);
   }

  .note-old { 
    border-right: 1px solid lighten(black, 30%);
    border-bottom: 1px solid lighten(black, 30%);
    border-left: 1px solid lighten(black, 60%);
    border-top: 1px solid lighten(black, 60%);
  }

.quiz-old { 
     border-right: 1px solid lighten(red, 0%);
   border-bottom: 1px solid lighten(red, 0%);
     border-left: 1px solid lighten(red, 15%);
   border-top: 1px solid lighten(red, 15%);

   &.answered-old {
         border-right: 1px solid lighten(green, 10%);
       border-bottom: 1px solid lighten(green, 10%);
         border-left: 1px solid lighten(green, 30%);
         border-top: 1px solid lighten(green, 30%);
      }
    } 

  .timelink {
    font-size: .7em;
    margin-right: .5em;
  }
}


#ytPlayer {
  clear: left;
  float: left;
  margin: auto;
}

#quiz_area {
  $box-width:  900px;
  $box-height: 400px;
  background-color: #eee;
  border: 1px solid #ddd;
  @include rounded(5px);
  width: $box-width;
  height: $box-height;
  clear: both;

 }

/* Lessons - Student */
#events-area-student {
  float: left;
  clear: right;
  width: 400px;
  height: $yt-height - 20px - 2px;
  overflow-y: auto;
  overflow-x: hidden;
}


/* Lessons - Teacher */



#lesson-edit {

  #video-area {

  clear: left;
  float: left;
  margin-bottom: 5px;
  width: 500px;
  background: #eee;
  border: 1px solid #ddd;
  @include rounded(5px);
 
  #vid-container {
    width: 480px;
    margin: 0px auto;
    padding: 10px;
  }

  #video-url-div { 
    clear: both;
    padding-top: 10px;

    #load_video_url { margin: 0px 5px; }
  }
  }

  
  #events-area-teacher {
    float:right;
    width: 380px; 
    height: 480px;
    overflow-y: auto;
    margin-left: 5px;
  }  

  .edit_lesson_component {
    display: inline;
  }
  
}
  
#tabs-container {

  width: 502px;
  clear: left;
  float: left;
  .current_video_url{ font-size: 0.7em; padding: 5px; }

  #lesson-edit-tabs {
    clear: both;
  }

  ul {
    display: block;
  }

  table { 
    width: 270px;
    margin: 0px;
    input { width: 50px;}
    td { padding: 0 5px; width: auto;}
  }

  #add-note {
    width: 460px;

    #note_content {
      width: 440px;
      height: 100px;
    }
  }
}

