/*
Syntax error: Invalid CSS after "": expected selector or at-rule, was "<%= stylesheet_..."
        on line 2 of custom.scss

1: 
2: <%= stylesheet_link_tag 'custom' %ner {
3:   width: 710px;
4: }
5: 
6: #video-dialog{ background:grey;}
7: 

Backtrace:
custom.scss:2
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/scss/parser.rb:898:in `expected'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/scss/parser.rb:841:in `expected'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/scss/parser.rb:27:in `parse'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/engine.rb:319:in `_to_tree'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/engine.rb:291:in `_render'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/engine.rb:238:in `render'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:169:in `block in update_stylesheets'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:167:in `each'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:167:in `update_stylesheets'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:214:in `watch'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/plugin.rb:111:in `method_missing'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/exec.rb:408:in `watch_or_update'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/exec.rb:294:in `process_result'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/exec.rb:41:in `parse'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/lib/sass/exec.rb:21:in `parse!'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.2/bin/sass:8:in `<top (required)>'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/bin/sass:19:in `load'
/Users/rmuller/.rvm/gems/ruby-1.9.2-p180/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\": expected selector or at-rule, was \"<%= stylesheet_...\"\A         on line 2 of custom.scss\A \A 1: \A 2: <%= stylesheet_link_tag 'custom' %ner {\A 3:   width: 710px;\A 4: }\A 5: \A 6: #video-dialog{ background:grey;}\A 7: "; }
