#video-area {
  padding: 10px 10px 0px 10px;
  float: left;
  clear: left;
  background: #eee; }

#ytPlayer {
  float: none;
  margin: auto; }

#lesson-name {
  margin: auto;
  margin-bottom: 15px;
  width: 950px; }

#lesson-area {
  margin: auto;
  width: 950px; }

#stream-area {
  clear: right;
  float: left;
  width: 430px; }
  #stream-area #content {
    height: 271px;
    padding: 20px 15px 20px 15px;
    overflow: auto;
    background: #eee; }
  #stream-area #control-links {
    text-align: right;
    margin-top: 5px;
    clear: both; }
    #stream-area #control-links a {
      border-right: 1px solid #999999;
      border-bottom: 1px solid #999999;
      border-left: 1px solid #cccccc;
      border-top: 1px solid #cccccc;
      padding: 4px;
      font-size: 1.1em;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin: 2px;
      width: 50px; }
  #stream-area .event {
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  #stream-area div.play-event {
    text-align: right;
    font-size: .8em; }

#document-area {
  width: 400px;
  border: 8px solid #eee;
  padding: 20px 90px 20px 90px;
  margin: auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  #document-area .nav-link-area {
    text-align: center; }
  #document-area .video-nav-link {
    margin: auto;
    clear: both;
    text-align: center;
    margin-top: 15px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 4px;
    font-size: 1.1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #document-area .quiz-embed {
    width: 640px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f8f8f8; }

#watch-lesson-links {
  clear: both;
  text-align: center;
  margin: 0px auto;
  padding-top: 50px; }
