<%= form_for current_user.enrollments.
  build(:course_id => course.id) do |f| %>
    <%= f.hidden_field :course_id %>
    <div class = "actions"><%= f.submit "Enroll", :class => "enroll-button" %></div>
<% end %>
