<div id="rate-button-panel">
    <p class="header">How did you feel about this problem?</p>

  <div id="rate-buttons">
  <% if myresponse.quiz.answer_type == "self-rate" %>
    <%= link_to "Miss", response_path(myresponse, :quality => 0), :id => "rate-miss", :class => "round quizbutton", :method => :put %>
  <% end %>

    <%= link_to "Hard", response_path(myresponse, :quality => 3), :id => "rate-hard", :class => "round quizbutton", :method => :put %>
    <%= link_to "Good", response_path(myresponse, :quality => 4), :id => "rate-good", :class => "round quizbutton", :method => :put %>
    <%= link_to "Easy", response_path(myresponse, :quality => 5), :id => "rate-easy", :class => "round quizbutton", :method => :put %>
</div>
</div>
