<div id="tagline">
  <p>Learnstream helps you navigate your learning</p>

<ul>
  <li><span class="feature-head">Solve</span> problems that build on what you know</li>
  <li><span class="feature-head">Watch</span> micro-lectures that provide new knowledge and help overcome difficulties</li> 
  <li><span class="feature-head">Track</span> what you remember and what you need to learn
  <li><span class="feature-head">Succeed</span> in your most challenging college classes</li>
</ul>
</div>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>


