<img src="http://us.cdn3.123rf.com/168nwm/elenathewise/elenathewise1012/elenathewise101200064/8436737-smiling-black-woman-using-computer-in-modern-kitchen-interior.jpg" style="float: left"  /> 

<div id="tagline">Learnstream helps you navigate your learning!</div>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<div id="quotes">
  <ul>
    <li class="round">"...stimulating..." - Bill Gates </li>
    <li class="round">"Sounds interesting enough" - Marko's Mom </li><br />
    <li class="round">"Learnstream helped me learn a bunch of stuff real good" - Terrence Tao</li><br />
    <li class="round">"This could change everything" - Inspector Detector</li>
    <li class="round">"Yes!" -a man</li>
  </ul>
</div>


