<% breadcrumb :study, @response.quiz.course %>
<div id="study-area">
  <div id="innards">
    <%= render @response %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag "Study" %>
  <%= javascript_include_tag "raphael-min" %>
  <%= javascript_include_tag "Quiz" %>
<% end %>
