<div id="study-area">
  <div id="judgement">
  <% if not @response.status.blank? %> 
    <% if @response.status == "correct" %>
      <p class="flash success">You're correct!</p>
    <% else %>
      <p class="flash error">That's incorrect.</p>
    <% end %>


    <p>Your answer: <span class="answer"><%= @response.answer %></span></p>
  <% end %>

  <p>The correct answer: <span class="answer"><%= @response.quiz.answer %></span></p>
</div>


  <%= render :partial => 'shared/rate_panel', :locals => { :myresponse => @response} %>

  <%= render :partial => 'components/help' %>
</div>
