<% if not @response.status.blank? %> 
  <% if @response.status == "correct" %>
    <p class="flash success">You're correct!</p>
  <% else %>
    <p class="flash error">That's incorrect.</p>
  <% end %>

  <p>Your answer: <%= @response.answer %></p>
<% end %>

<p>The correct answer: <%= @response.quiz.answer %></p>


<%= render :partial => 'shared/rate_panel', :locals => { :myresponse => @response} %>

<%= render :partial => 'components/help' %>
