<%= form_for @step.step_components.
  build(:component_id => component.id, :step_id => @step.id) do |f| %>
    <div><%= f.hidden_field :component_id %></div>
    <div><%= f.hidden_field :step_id %></div>
    <div class = "actions"><%= f.submit "Relate Concept" %></div>
<% end %>
