<%= form_for(user.enrollments.find_by_course_id(course)) do |f| %>
  <div class = "field">
    <%= f.hidden_field :role, :value => "teacher" %>
  </div>
 <div class="actions">
   <%= f.submit "Make teacher" %>
 </div>
<% end %>

