<h3>Components covered</h3>
<div id="stat-chart" style="width:324px;height:200px"></div>
<h3>Upcoming components</h3>
<div id="cards-due-chart" style="width:324px;height:200px"></div>
<h3>Course achievement</h3>
<div id="achievement-chart" style="width:324px;height:200px"></div>
<div id="stats-course-id" class="hidden"><%= @course.id %></div>
