<h2>Components covered</h2>
<div id="stat-chart" style="width:324px;height:200px"></div>
<h2>Upcoming components</h2>
<div id="cards-due-chart" style="width:324px;height:200px"></div>
<h2>Course achievement</h2>
<div id="achievement-chart" style="width:324px;height:200px"></div>
<div id="stats-course-id" class="hidden"><%= @course.id %></div>
