<h3>Review activity (last 4 weeks)</h3>
<div class="chart" id="stat-chart" style="width:324px;height:200px"></div>
<h3>Course mastery</h3>
<div class="chart" id="achievement-chart" style="width:324px;height:200px"></div>
<div id="stats-course-id" class="hidden"><%= @course.id %></div>
