<h1>All Courses</h1>

<ul class="courses">
  <% @courses.each do |course| %>
    <% @course = course %>
    <li><%= link_to course.name, course %>
        <div id= "enroll_form">
          <% if current_user.enrolled?(@course) %> 
            <%= render 'unenroll'%> 
          <%  else %>
            <%= render 'enroll' %>
          <% end %>
        </div></li>
  <% end %>
</ul>

<% auth_user = current_user %>
<% if not auth_user.perm == "learner" %>
  <%= link_to "New Course", new_course_path %>
<% end %>
