
<div class = "back"><%= link_to "Back to your courses", home_path %></div>
<h1>All Courses</h1>
<ul class="courses">
  <%= render @courses %> 
</ul>

<% auth_user = current_user %>
<% if not auth_user.perm == "learner" %>
  <%= link_to "New Course", new_course_path %>
<% end %>
