<h1><%= @title %></h1>
<% unless @teachers.empty? %>
  <h2>Teachers</h2>
  <ul class = "users">
    <%= render @teachers , :as => :user %>
  </ul>
<% end %>
<% unless @students.empty? %>
  <h2>Students</h2>
  <ul class = "users">
    <%= render :partial => "student", :collection => @students, :as => :user , :locals => { :course => @course, :user => @user }%>
  </ul>
  <%= will_paginate @students %>
<% end %>
