<% breadcrumb :student_status, @course %>
<div id="student-status"> 
  <table>
    <tr>
      <td class="unused student-column"></td>
      <% @lessons.each { |lesson| %>
        <td class="label"><%= link_to lesson.name,[@course, lesson] %></td>
      <% } %>
    </tr>
    <% @course.student_enrollments.each { |enrollment| %>
      <% student = enrollment.user %>
      <tr>
        <td class="student-column">
          <%= link_to display_name(student), student %><br />
          (<%= (enrollment.course_completion*100).round %>%)
        </td>

        <% student.lesson_statuses.each { |lesson_status| %>
          <% lesson_status.completed? ? status="good" : lesson_status.event_id == -1 ? status="unviewed" : status="due" %> 
          <td class="<%= status %>"></td>
        <% } %>
      </tr>
    <% } %>
  </table>
</div>
