<% content_for :panel do %>
<div id="panel">
<div class="section">
Studying <%= link_to @course.name, @course %>
</div>

<div class="section">
<% due = current_user.memories_due_with_quiz(@course).length %>
<% total = current_user.all_memories_with_quiz(@course).length %>
<div><span style="color: <% if due == 0 %> green<% else %> red <% end %>">
	<span class="number"><%= due %></span> due</span>
<span class="number">/</span>
	<span class="number"><%= total %></span> total for today</div>

<div>
<% if current_user.memories_due(@course).length == 0 %>
You're done for now!
<% else %>
 Time to study!
<% end %>
</div>
</div>

<div id="completion" class="section bottom">
<div id="progressbar" data-progress="<%= (100 * current_user.enrollments.find_by_course_id(@course).course_completion).round %>"></div>
Total course completion: <%= (100 * current_user.enrollments.find_by_course_id(@course).course_completion).round %>%
</div>
</div>

<% end %>

<%= render :file => 'layouts/application' %>

